# MongoDB
MONGODB_URI=your_mongodb_connection_string

# NextAuth.js
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000 (Not required for Vercel deployment)

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
NEXT_PUBLIC_CLOUDINARY_BOOK_PRESET=your_cloudinary_book_preset
NEXT_PUBLIC_CLOUDINARY_PROFILE_PRESET=your_cloudinary_profile_preset

# Nodemailer
NODEMAILER_HOST=your_email_host
NODEMAILER_USER=your_email
NODEMAILER_EMAIL=your_email@gmail.com
NODEMAILER_PASSWORD=your_app_password

# Vercel
NEXT_PUBLIC_VERCEL_URL=http://localhost:3000 (Not required for Vercel deployment)